.song {
  display: flex;
  align-items: center;
  column-gap: 24px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.25s, transform 200ms ease-out;
  height: 100px;
  animation: slideInLeft 0.5s ease-out;

  @keyframes slideInLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 0.5;
    }
  }

  &:hover {
    opacity: 0.8;
    transform: translateX(-50px);
    transition: 200ms;
  }

  &.active {
    opacity: 1;
    transform: translateX(-50px);
    transition: 200ms;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
  }

  .title {
    font-size: 1.3em;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
