.drop_zone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 80px;
  border-radius: 5px;
  background-color: #333333;
  cursor: pointer;
  transition: 200ms;
  margin-top: 20px;
  margin-bottom: 20px;

  &:hover {
    background-color: #3f3f3f68;
    transition: 200ms;
  }

  input {
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
}

.search {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0; /* Ajustez cette valeur selon votre mise en page */
  left: 50%;
  transform: translateX(-50%);
  border: none;
  outline: 0;
  background-color: transparent;
  color: white;
  font-family: "Bebas Neue", sans-serif;

  .search_bar {
    width: 80%;
    max-width: 600px;
    border-bottom: 2px solid #ffffff;
  }

  input {
    border: none;
    outline: 0;
    background-color: transparent;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
  }
}
