@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
}